@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.projects img {
  width:100%;
}

/* color */
.bg-primary {
  background: #0E1012 ;
}

.bg-secondary {
  background: #161A1D;
}

.bg-accent {
  background: #007AFC;
}

.text-accent {
  color: #007AFC;
}

nav li a {
   @apply px-5 py-5 text-2xl font-semibold;
}

nav li a:hover {
   color: #007AFC;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* hero */
h1 {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'PT Sans';
  line-height: 1.2 !important;
  letter-spacing: -.025em;
}

/* #footie {
  background-image: url("https://assets.website-files.com/5e870779d9def4583b128a66/5e870779e18b0efd6da63ca5_topography-light.svg");
} */

#projects, #contact, #form {
    background-image: url("https://assets.website-files.com/5e870779d9def4583b128a66/5e870779e18b0efd6da63ca5_topography-light.svg");
    
}

.contactInput {
  @apply outline-none bg-white rounded-sm border-b px-6 py-4 border-[#242424] text-black placeholder-gray-500 transition-all
  focus:border-[#A0AABA]/40 focus:text-black hover:border-[#A0AABA] text-xl
}

#form {
  padding-bottom: 100px;
}

#buttony {
  margin-top: 20px;
}